<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    convertDeprecationsToExceptions="true"
    stopOnFailure="false"
>
<testsuites>
    <testsuite name="Paytrail PHP-SDK testsuite">
        <directory>tests</directory>
    </testsuite>
</testsuites>
</phpunit>
